
.message-list{
    width: 800px
}

.flex-box{
    display: flex;
}

.message-list-item{
    border: 0.5px solid black;
    border-radius: 8px;
    justify-content: space-around;
    width: 750px;
    padding: 5px;
    margin-top: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.status-btn{
    border-radius: 8px;
    width:150px;
    height:32px;
}

.msg-id{
    border-radius: 8px;
    width:400px;
    height:31px;
    background: #F2F2F2;
}


.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box{
    display: flex;
    justify-content: space-between;
    border: 0.25px solid black;
    border-radius: 8px;
    width: 800px
}
.icon-down-box{
    margin: 0px 10px 0px 10px;
    padding: 10px;
}
.box-btn{
    border: 0.25px solid black;
    border-radius: 8px;
    margin: 8px;
    width:120px;
    height:20px;
    top:110.5px;
    left:24px;
    padding:8px 4px 8px 4px;
    gap:4px
}

.exp-coll-box{
    margin-top: 10px;
    border: 0.25px solid black;
    border-radius: 8px;
    height: 170px;
    width: 800px
}